In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.feature_selection import SelectKBest, f_classif, f_regression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [3]:
df = pd.read_excel(r"C:\Users\singh\Downloads\loan_data_sample.xlsx")
df.head()

     age  gender     education   income   loan_amount
0    50+    Male           PhD     <20k  30925.132461
1  30-40    Male  PostGraduate  60k-80k  37081.630673
2  20-30    Male    HighSchool     80k+  25218.164446
3    <20  Female  PostGraduate  20k-40k  22508.062994
4    50+    Male  PostGraduate  60k-80k  53153.715666

In [4]:
features = df.drop('loan_amount',axis=1)
target = df.loan_amount

In [5]:
encoded = pd.DataFrame()

for i in features.columns:
    encoded[i]=le.fit_transform(features[i])

In [6]:
encoded.head()

   age  gender  education  income
0    3       1          1       4
1    1       1          2       2
2    0       1          0       3
3    4       0          2       0
4    3       1          2       2

In [7]:
x_train, x_test, y_train, y_test = train_test_split(encoded,target,test_size=0.2,random_state=123)

In [19]:
best_features = SelectKBest(score_func=f_regression,k='all')

In [21]:
selection = best_features.fit(x_train,y_train)

In [24]:
selection.scores_

array([14.04421628,  1.44327701,  0.01548106, 10.88645751])

In [25]:
anova_score = pd.DataFrame(zip(features.columns, selection.scores_, selection.pvalues_), columns=['features','score','pValues'])

In [26]:
anova_score

    features      score   pValues
0        age  14.044216  0.000191
1     gender   1.443277  0.229966
2  education   0.015481  0.901012
3     income  10.886458  0.001012