In [1]:
import pandas as pd

In [2]:
data = {'col1': [1, 2, 3], 'col2': [4, 5, 6]}
df = pd.DataFrame(data)
print(df)

   col1  col2
0     1     4
1     2     5
2     3     6

In [3]:
df.sum()

col1     6
col2    15
dtype: int64

In [4]:
df.mean()

col1    2.0
col2    5.0
dtype: float64

In [5]:
df.mean(axis=1)

0    2.5
1    3.5
2    4.5
dtype: float64

In [6]:
data1 = {'X': [1, 2, 3]}
data2 = {'Y': [4, 5, 6]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
concatenated_df = pd.concat([df1, df2], axis=1)
print(concatenated_df)

   X  Y
0  1  4
1  2  5
2  3  6

In [7]:
data1 = {'key': ['X', 'Y', 'Z'], 'value1': [1, 2, 3]}
data2 = {'key': ['X', 'Y', 'D'], 'value2': [4, 5, 6]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
merged_df = pd.merge(df1, df2, on='key')
print(merged_df)

  key  value1  value2
0   X       1       4
1   Y       2       5

In [8]:
data = {'X': ['foo', 'foo', 'bar', 'bar'], 'Y': ['one', 'two', 'one', 'two'], 'Z': [1, 2, 3, 4]}
df = pd.DataFrame(data)
pivot_table = df.pivot_table(values='Z', index='X', columns='Y')
print(pivot_table)

Y    one  two
X
bar    3    4
foo    1    2

In [9]:
data = {'X': ['foo', 'foo', 'bar', 'bar'], 'Y': ['one', 'two', 'one', 'two'], 'Z': [1, 2, 3, 4]}
df = pd.DataFrame(data)
wide_df = df.pivot(index='X', columns='Y', values='Z')
print(wide_df)

Y    one  two
X
bar    3    4
foo    1    2

In [10]:
data = {'X': [1, 2, 3, 4], 'Y': [4, 3, 2, 1]}
df = pd.DataFrame(data)
correlation = df.corr()
print(correlation)

     X    Y
X  1.0 -1.0
Y -1.0  1.0

In [11]:
data = {'X': [1, 2, 3], 'Y': [4, 5, 6]}
df = pd.DataFrame(data)
for index, row in df.iterrows():
    print(index, row['X'], row['Y'])

0 1 4
1 2 5
2 3 6

In [12]:
# Create a sample DataFrame
data = {'X': [1, 2, 3], 'Y': [4, 5, 6]}
df = pd.DataFrame(data)
# Apply a function to each element using the map method
df = df.apply(lambda col: col.map(lambda x: x * 2))
print(df)

   X   Y
0  2   8
1  4  10
2  6  12