In [1]:
import numpy as np

In [2]:
# Define the data type for the structured array
dtype = [('name', 'U10'), ('age', 'i4'), ('height', 'f4')]

# Create the structured array with sample data
structured_array = np.array([
    ('Lehi Piero', 25, 5.5),
    ('Albin Achan', 30, 5.8),
    ('Zerach Hava', 35, 6.1),
    ('Edmund Tereza', 40, 5.9),
    ('Laura Felinus', 28, 5.7)], dtype=dtype)

# Print the structured array
print("Structured Array:")
print(structured_array)

Structured Array:
[('Lehi Piero', 25, 5.5) ('Albin Acha', 30, 5.8) ('Zerach Hav', 35, 6.1)
 ('Edmund Ter', 40, 5.9) ('Laura Feli', 28, 5.7)]

In [3]:
structured_array.dtype

dtype([('name', '<U10'), ('age', '<i4'), ('height', '<f4')])

In [4]:
structured_array['name']

array(['Lehi Piero', 'Albin Acha', 'Zerach Hav', 'Edmund Ter',
       'Laura Feli'], dtype='<U10')

In [5]:
structured_array['age'][0] = 30
structured_array

array([('Lehi Piero', 30, 5.5), ('Albin Acha', 30, 5.8),
       ('Zerach Hav', 35, 6.1), ('Edmund Ter', 40, 5.9),
       ('Laura Feli', 28, 5.7)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('height', '<f4')])

In [8]:
print("Original Structured Array:")
print(structured_array)

# Define the new record to be added
new_record = np.array([('Nela Suna', 25, 5.9)], dtype=dtype)

# Add the new record to the structured array
# Use np.append to concatenate the new record to the existing array
updated_array = np.append(structured_array, new_record)

# Print the updated structured array
print("\nUpdated Structured Array:")
print(updated_array)

Original Structured Array:
[('Lehi Piero', 30, 5.5) ('Albin Acha', 30, 5.8) ('Zerach Hav', 35, 6.1)
 ('Edmund Ter', 40, 5.9) ('Laura Feli', 28, 5.7)]

Updated Structured Array:
[('Lehi Piero', 30, 5.5) ('Albin Acha', 30, 5.8) ('Zerach Hav', 35, 6.1)
 ('Edmund Ter', 40, 5.9) ('Laura Feli', 28, 5.7) ('Nela Suna', 25, 5.9)]

In [9]:
print("Original Structured Array:")
print(structured_array)

# Filter the records where the 'age' field is greater than 25
filtered_records = structured_array[structured_array['age'] > 25]

# Print the filtered records
print("\nFiltered Records (age > 25):")
print(filtered_records)

Original Structured Array:
[('Lehi Piero', 30, 5.5) ('Albin Acha', 30, 5.8) ('Zerach Hav', 35, 6.1)
 ('Edmund Ter', 40, 5.9) ('Laura Feli', 28, 5.7)]

Filtered Records (age > 25):
[('Lehi Piero', 30, 5.5) ('Albin Acha', 30, 5.8) ('Zerach Hav', 35, 6.1)
 ('Edmund Ter', 40, 5.9) ('Laura Feli', 28, 5.7)]

In [12]:
sorted_array = np.sort(structured_array, order='height')
sorted_array

array([('Lehi Piero', 30, 5.5), ('Laura Feli', 28, 5.7),
       ('Albin Acha', 30, 5.8), ('Edmund Ter', 40, 5.9),
       ('Zerach Hav', 35, 6.1)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('height', '<f4')])

In [13]:
# Sort by 'height' in descending order
sorted_desc = np.sort(structured_array, order='height')[::-1]
print("Sorted by height (descending):\n", sorted_desc)

Sorted by height (descending):
 [('Zerach Hav', 35, 6.1) ('Edmund Ter', 40, 5.9) ('Albin Acha', 30, 5.8)
 ('Laura Feli', 28, 5.7) ('Lehi Piero', 30, 5.5)]

In [14]:
# Create the structured array with sample data
structured_array = np.array([
    ('Lehi Piero', 25, 5.5),
    ('Albin Achan', 30, 5.8),
    ('Zerach Hava', 35, 6.1),
    ('Edmund Tereza', 40, 5.9),
    ('Laura Felinus', 28, 5.7)
], dtype=dtype)


print("Original Structured Array:")
print(structured_array)

# Calculate the average age of individuals
average_age = np.mean(structured_array['age'])

# Print the average age
print("Average age of individuals:")
print(average_age)

Original Structured Array:
[('Lehi Piero', 25, 5.5) ('Albin Acha', 30, 5.8) ('Zerach Hav', 35, 6.1)
 ('Edmund Ter', 40, 5.9) ('Laura Feli', 28, 5.7)]
Average age of individuals:
31.6

In [15]:
# Specify the name of the record to delete
name_to_delete = 'Zerach'

# Delete the record where 'name' is the specified name
# Use a boolean mask to filter out the record with the specified name
filtered_array = structured_array[structured_array['name'] != name_to_delete]

# Print the updated structured array
print("\nUpdated Structured Array after deleting the record where 'name' is '{}':\n".format(name_to_delete))
print(filtered_array)

Updated Structured Array after deleting the record where 'name' is 'Zerach':

[('Lehi Piero', 25, 5.5) ('Albin Acha', 30, 5.8) ('Zerach Hav', 35, 6.1)
 ('Edmund Ter', 40, 5.9) ('Laura Feli', 28, 5.7)]

In [16]:
print("Original Structured Array:")
print(structured_array)

# Specify the index of the record to delete (in this case, 'Zerach')
index_to_delete = 2

# Delete the record at the specified index
filtered_array = np.delete(structured_array, index_to_delete, axis=0)

print("\nUpdated Structured Array after deleting the record at index {}:".format(index_to_delete))
print(filtered_array)

Original Structured Array:
[('Lehi Piero', 25, 5.5) ('Albin Acha', 30, 5.8) ('Zerach Hav', 35, 6.1)
 ('Edmund Ter', 40, 5.9) ('Laura Feli', 28, 5.7)]

Updated Structured Array after deleting the record at index 2:
[('Lehi Piero', 25, 5.5) ('Albin Acha', 30, 5.8) ('Edmund Ter', 40, 5.9)
 ('Laura Feli', 28, 5.7)]

In [17]:
structured_array

array([('Lehi Piero', 25, 5.5), ('Albin Acha', 30, 5.8),
       ('Zerach Hav', 35, 6.1), ('Edmund Ter', 40, 5.9),
       ('Laura Feli', 28, 5.7)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('height', '<f4')])

In [18]:
print("Original Structured Array:")
print(structured_array)

# Specify the name of the record to delete
name_to_delete = 'Zerach'

# Delete the record where 'name' is the specified name
# Use a boolean mask to filter out the record with the specified name
filtered_array = structured_array[structured_array['name'] != name_to_delete]

# Print the updated structured array
print("\nUpdated Structured Array after deleting the record where 'name' is '{}':\n".format(name_to_delete))
print(filtered_array)

Original Structured Array:
[('Lehi Piero', 25, 5.5) ('Albin Acha', 30, 5.8) ('Zerach Hav', 35, 6.1)
 ('Edmund Ter', 40, 5.9) ('Laura Feli', 28, 5.7)]

Updated Structured Array after deleting the record where 'name' is 'Zerach':

[('Lehi Piero', 25, 5.5) ('Albin Acha', 30, 5.8) ('Zerach Hav', 35, 6.1)
 ('Edmund Ter', 40, 5.9) ('Laura Feli', 28, 5.7)]

In [19]:
print("Original Structured Array:")
print(structured_array)

# Increase the 'age' field by 1 for all individuals
structured_array['age'] += 1

# Print the updated structured array
print("\nUpdated Structured Array with 'age' field increased by 1:")
print(structured_array)

Original Structured Array:
[('Lehi Piero', 25, 5.5) ('Albin Acha', 30, 5.8) ('Zerach Hav', 35, 6.1)
 ('Edmund Ter', 40, 5.9) ('Laura Feli', 28, 5.7)]

Updated Structured Array with 'age' field increased by 1:
[('Lehi Piero', 26, 5.5) ('Albin Acha', 31, 5.8) ('Zerach Hav', 36, 6.1)
 ('Edmund Ter', 41, 5.9) ('Laura Feli', 29, 5.7)]

In [20]:
# Create the first structured array with sample data
structured_array1 = np.array([
    ('Lehi', 25, 5.5),
    ('Albin', 30, 5.8)
], dtype=dtype)

# Create the second structured array with sample data
structured_array2 = np.array([
    ('Zerach', 35, 6.1),
    ('Edmund', 40, 5.9),
    ('Laura', 28, 5.7)
], dtype=dtype)


print("Original Structured Arrays:")
print(structured_array1)
print(structured_array2)

# Combine the two structured arrays into one
combined_array = np.concatenate((structured_array1, structured_array2))

# Print the combined structured array
print("\nCombined Structured Array:")
print(combined_array)

Original Structured Arrays:
[('Lehi', 25, 5.5) ('Albin', 30, 5.8)]
[('Zerach', 35, 6.1) ('Edmund', 40, 5.9) ('Laura', 28, 5.7)]

Combined Structured Array:
[('Lehi', 25, 5.5) ('Albin', 30, 5.8) ('Zerach', 35, 6.1)
 ('Edmund', 40, 5.9) ('Laura', 28, 5.7)]