In [1]:
import numpy as np

In [2]:
# Define the data type for the structured array
dtype = [('name', 'U10'), ('age', 'i4'), ('height', 'f4')]

# Create the structured array with sample data
structured_array = np.array([
    ('Lehi Piero', 25, 5.5),
    ('Albin Achan', 30, 5.8),
    ('Zerach Hava', 35, 6.1),
    ('Edmund Tereza', 40, 5.9),
    ('Laura Felinus', 28, 5.7)
], dtype=dtype)

condition = structured_array['age'] > 25
above25 = structured_array[condition]
below25 = structured_array[~condition]

print(above25)
print(below25)

[('Albin Acha', 30, 5.8) ('Zerach Hav', 35, 6.1) ('Edmund Ter', 40, 5.9)
 ('Laura Feli', 28, 5.7)]
[('Lehi Piero', 25, 5.5)]

In [3]:
h = structured_array['height']
h

array([5.5, 5.8, 6.1, 5.9, 5.7], dtype=float32)

In [6]:
# Rename the 'height' field to 'stature'
new_dtype = [('name', 'U10'), ('age', 'i4'), ('stature', 'f4')]

# Create a new structured array with the new dtype
renamed_array = np.empty(structured_array.shape, dtype=new_dtype)

# Copy the data from the old array to the new array
for field in structured_array.dtype.names:
    renamed_array[field if field != 'height' else 'stature'] = structured_array[field]
    
renamed_array

array([('Lehi Piero', 25, 5.5), ('Albin Acha', 30, 5.8),
       ('Zerach Hav', 35, 6.1), ('Edmund Ter', 40, 5.9),
       ('Laura Feli', 28, 5.7)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('stature', '<f4')])

In [ ]:
structured_array = np.genfromtxt('data.csv', delimiter=',', dtype=dtype, names=True)
structured_array

In [8]:
# Define the data type for the structured array
dtype = [('name', 'U10'), ('age', 'i4'), ('height', 'f4')]

# Create the structured array with sample data
structured_array = np.array([
    ('Lehi Piero', 25, 5.5),
    ('Albin Achan', 30, 5.8),
    ('Zerach Hava', 35, 6.1),
    ('Edmund Tereza', 40, 5.9),
    ('Laura Felinus', 28, 5.7)
], dtype=dtype)

# Save the structured array to a file
# The file will be saved as 'structured_array.npy'
np.save('structured_array.npy', structured_array)

# Print a message indicating the array has been saved
print("Structured array saved to 'structured_array.npy'")

Structured array saved to 'structured_array.npy'

In [9]:
for record in structured_array:
    print(f"Name:{record['name']}, Height: {record['height']}")

Name:Lehi Piero, Height: 5.5
Name:Albin Acha, Height: 5.800000190734863
Name:Zerach Hav, Height: 6.099999904632568
Name:Edmund Ter, Height: 5.900000095367432
Name:Laura Feli, Height: 5.699999809265137

In [10]:
# Define the data type for the structured array with nested fields
dtype = [('person', [('name', 'U10'), ('age', 'i4')]), ('score', 'i4')]

# Create the structured array with sample data
structured_array = np.array([
    (('Elsi Eunomia', 25), 85),
    (('Sonia Husein', 30), 90),
    (('Carmen Hildur', 35), 95),
    (('Lino Prakash', 40), 80),
    (('Eshe Waldemar', 28), 88)
], dtype=dtype)

# Print the structured array with nested fields
print("Structured Array with Nested Fields:")
print(structured_array)

Structured Array with Nested Fields:
[(('Elsi Eunom', 25), 85) (('Sonia Huse', 30), 90)
 (('Carmen Hil', 35), 95) (('Lino Praka', 40), 80)
 (('Eshe Walde', 28), 88)]

In [11]:
structured_array.dtype

dtype([('person', [('name', '<U10'), ('age', '<i4')]), ('score', '<i4')])

In [12]:
# Define the data type for the structured array
dtype = [('name', 'U10'), ('age', 'i4'), ('height', 'f4')]

# Create the structured array with sample data
structured_array = np.array([
    ('Lehi Piero', 25, 5.5),
    ('Albin Achan', 30, 5.8),
    ('Zerach Hava', 35, 6.1),
    ('Edmund Tereza', 40, 5.9),
    ('Laura Felinus', 28, 5.7)
], dtype=dtype)

print("Original structured array: ",structured_array)

selected_records = structured_array[(structured_array['age'] > 25) & (structured_array['height'] < 6.0)]
selected_records

Original structured array:  [('Lehi Piero', 25, 5.5) ('Albin Acha', 30, 5.8) ('Zerach Hav', 35, 6.1)
 ('Edmund Ter', 40, 5.9) ('Laura Feli', 28, 5.7)]

array([('Albin Acha', 30, 5.8), ('Edmund Ter', 40, 5.9),
       ('Laura Feli', 28, 5.7)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('height', '<f4')])

In [15]:
# Define the data type for the structured array
dtype = [('name', 'U10'), ('age', 'i4'), ('height', 'f4')]

# Create the structured array with sample data
structured_array = np.array([
    ('Lehi Piero', 25, 5.5),
    ('Albin Achan', 30, 5.8),
    ('Zerach Hava', 35, 6.1),
    ('Edmund Tereza', 40, 5.9),
    ('Laura Felinus', 28, 5.7)
], dtype=dtype)

print("Original structured array: ",structured_array)

# Define a new data type with an additional 'name_age' field
new_dtype = [('name', 'U10'), ('age', 'i4'), ('height', 'f4'), ('name_age', 'U14')]

# Create a new structured array with the new data type
new_structured_array = np.empty(structured_array.shape, dtype=new_dtype)

# Copy the existing fields to the new structured array
for field in structured_array.dtype.names:
    new_structured_array[field] = structured_array[field]
    
# Create the 'name_age' field by concatenating 'name' and 'age' fields
new_structured_array['name_age'] = np.array([f"{name}_{age}" for name, age in zip(structured_array['name'], structured_array['age'])])
new_structured_array

Original structured array:  [('Lehi Piero', 25, 5.5) ('Albin Acha', 30, 5.8) ('Zerach Hav', 35, 6.1)
 ('Edmund Ter', 40, 5.9) ('Laura Feli', 28, 5.7)]

array([('Lehi Piero', 25, 5.5, 'Lehi Piero_25'),
       ('Albin Acha', 30, 5.8, 'Albin Acha_30'),
       ('Zerach Hav', 35, 6.1, 'Zerach Hav_35'),
       ('Edmund Ter', 40, 5.9, 'Edmund Ter_40'),
       ('Laura Feli', 28, 5.7, 'Laura Feli_28')],
      dtype=[('name', '<U10'), ('age', '<i4'), ('height', '<f4'), ('name_age', '<U14')])

In [14]:
# Define the data type for the structured array
dtype = [('name', 'U10'), ('age', 'i4'), ('height', 'f4')]

# Create the structured array with sample data
structured_array = np.array([
    ('Lehi Piero', 25, 5.5),
    ('Albin Achan', 30, 5.8),
    ('Zerach Hava', 35, 6.1),
    ('Edmund Tereza', 40, 5.9),
    ('Laura Felinus', 28, 5.7)
], dtype=dtype)

print("Original structured array: ",structured_array)

structured_array['height'] = 6.0
structured_array

Original structured array:  [('Lehi Piero', 25, 5.5) ('Albin Acha', 30, 5.8) ('Zerach Hav', 35, 6.1)
 ('Edmund Ter', 40, 5.9) ('Laura Feli', 28, 5.7)]

array([('Lehi Piero', 25, 6.), ('Albin Acha', 30, 6.),
       ('Zerach Hav', 35, 6.), ('Edmund Ter', 40, 6.),
       ('Laura Feli', 28, 6.)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('height', '<f4')])