In [1]:
import pandas as pd
import numpy as np

In [2]:
sales_arrays = [['sale1', 'sale1', 'sale2', 'sale2', 'sale3', 'sale3', 'sale4', 'sale4'],
          ['city1', 'city2', 'city1', 'city2', 'city1', 'city2', 'city1', 'city2']]
sales_tuples = list(zip(*sales_arrays))
print("Create a MultiIndex:")
sales_index = pd.MultiIndex.from_tuples(sales_tuples, names=['sale', 'city'])
print(sales_tuples)
print("\nConstruct a Dataframe using the said MultiIndex levels: ")
df = pd.DataFrame(np.random.randn(8, 5), index=sales_index)
print(df)

Create a MultiIndex:
[('sale1', 'city1'), ('sale1', 'city2'), ('sale2', 'city1'), ('sale2', 'city2'), ('sale3', 'city1'), ('sale3', 'city2'), ('sale4', 'city1'), ('sale4', 'city2')]

Construct a Dataframe using the said MultiIndex levels:
                    0         1         2         3         4
sale  city
sale1 city1  0.319560  0.781822 -1.417803 -0.668402  1.096322
      city2  0.308146  0.584726 -0.380437 -1.656905  0.418197
sale2 city1  0.101555  0.710694 -1.059535  0.958604  0.712967
      city2  1.004231 -1.735734 -1.463535  0.246618  0.081802
sale3 city1 -0.668502 -0.766354 -0.428296 -2.072374 -1.015761
      city2  1.274309  1.054053 -0.591799  0.991911 -1.321014
sale4 city1 -0.593244 -1.396514 -0.499621 -0.378353  0.423967
      city2  0.229696 -1.212464  0.222840  0.072602  0.897592

In [3]:
#Q14
sales_arrays = [['sale1', 'sale1', 'sale2', 'sale2', 'sale3', 'sale3', 'sale4', 'sale4'],
          ['city1', 'city2', 'city1', 'city2', 'city1', 'city2', 'city1', 'city2']]
sales_tuples = list(zip(*sales_arrays))
sales_index = pd.MultiIndex.from_tuples(sales_tuples, names=['sale', 'city'])
print(sales_tuples)
print("\nConstruct a Dataframe using the said MultiIndex levels: ")
df = pd.DataFrame(np.random.randn(8, 5), index=sales_index)
print(df)

print("\nExtract a single row from the said dataframe:")
print(df.loc[('sale2', 'city2')])
print("\nExtract a single row from the said dataframe:")
print(df.loc[('sale2', 'city2')])

print("\nExtract number of rows from the said dataframe:")
print(df.loc['sale1'])
print("\nExtract number of rows from the said dataframe:")
print(df.loc['sale3'])

print("\nExtract a single value from the said dataframe:")
print(df.loc[('sale1', 'city2'), 1])
print("\nExtract a single value from the said dataframe:")
print(df.loc[('sale4', 'city1'), 4])

[('sale1', 'city1'), ('sale1', 'city2'), ('sale2', 'city1'), ('sale2', 'city2'), ('sale3', 'city1'), ('sale3', 'city2'), ('sale4', 'city1'), ('sale4', 'city2')]

Construct a Dataframe using the said MultiIndex levels:
                    0         1         2         3         4
sale  city
sale1 city1 -0.047856 -0.863758  0.559994  0.931517 -0.996772
      city2  0.749611  1.923307  0.273886 -0.045858  1.400739
sale2 city1 -0.374729  0.739047 -0.691928  1.231495  0.308219
      city2  0.644379 -0.311246  2.590693  0.629625  1.727508
sale3 city1  0.231407  0.836937  0.429406 -0.704112 -1.522196
      city2 -0.985866  0.205843  1.107952 -0.173665  0.092729
sale4 city1 -1.459269 -0.636304  0.886219  0.390209 -0.445068
      city2 -0.636731  0.830403 -0.609885  0.142207 -0.958399

Extract a single row from the said dataframe:
0    0.644379
1   -0.311246
2    2.590693
3    0.629625
4    1.727508
Name: (sale2, city2), dtype: float64

Extract a single row from the said dataframe:
0    0.644379
1   -0.311246
2    2.590693
3    0.629625
4    1.727508
Name: (sale2, city2), dtype: float64

Extract number of rows from the said dataframe:
              0         1         2         3         4
city
city1 -0.047856 -0.863758  0.559994  0.931517 -0.996772
city2  0.749611  1.923307  0.273886 -0.045858  1.400739

Extract number of rows from the said dataframe:
              0         1         2         3         4
city
city1  0.231407  0.836937  0.429406 -0.704112 -1.522196
city2 -0.985866  0.205843  1.107952 -0.173665  0.092729

Extract a single value from the said dataframe:
1.9233074730722222

Extract a single value from the said dataframe:
-0.4450683150982747

In [4]:
#Q15
sales_arrays = [['sale1', 'sale1', 'sale2', 'sale2', 'sale3', 'sale3', 'sale4', 'sale4'],
          ['city1', 'city2', 'city1', 'city2', 'city1', 'city2', 'city1', 'city2']]
sales_tuples = list(zip(*sales_arrays))
sales_index = pd.MultiIndex.from_tuples(sales_tuples, names=['sale', 'city'])
print(sales_tuples)
print("\nConstruct a Dataframe using the said MultiIndex levels: ")
df = pd.DataFrame(np.random.randn(8, 5), index=sales_index)
print(df)
print("\nRename the columns name of the said dataframe")
df1 = df.rename(columns={0: "col1", 1: "col2", 2:"col3", 3:"col4", 4:"col5"})
print(df1)
print("\nRename specific labels of the main index of the DataFrame")
df2 = df1.rename(index={"sale2": "S2", "city2": "C2"})
print(df2)

[('sale1', 'city1'), ('sale1', 'city2'), ('sale2', 'city1'), ('sale2', 'city2'), ('sale3', 'city1'), ('sale3', 'city2'), ('sale4', 'city1'), ('sale4', 'city2')]

Construct a Dataframe using the said MultiIndex levels:
                    0         1         2         3         4
sale  city
sale1 city1  0.504972 -0.460932 -0.346817 -0.511037 -0.311695
      city2  1.678241 -0.095903  1.377239 -0.435176  0.047277
sale2 city1  0.050779  1.168001 -2.297502  0.544122  0.304260
      city2 -0.142055  1.127882 -0.437350  0.089209 -0.835783
sale3 city1  0.530937  1.004902 -1.013829 -0.657093 -0.603926
      city2  1.860970 -0.109545  0.255334 -0.519720 -0.025815
sale4 city1  1.855853  0.654788 -0.686488  1.181600 -1.076847
      city2 -0.996282  1.270367 -0.924798 -0.390687 -1.068007

Rename the columns name of the said dataframe
                 col1      col2      col3      col4      col5
sale  city
sale1 city1  0.504972 -0.460932 -0.346817 -0.511037 -0.311695
      city2  1.678241 -0.095903  1.377239 -0.435176  0.047277
sale2 city1  0.050779  1.168001 -2.297502  0.544122  0.304260
      city2 -0.142055  1.127882 -0.437350  0.089209 -0.835783
sale3 city1  0.530937  1.004902 -1.013829 -0.657093 -0.603926
      city2  1.860970 -0.109545  0.255334 -0.519720 -0.025815
sale4 city1  1.855853  0.654788 -0.686488  1.181600 -1.076847
      city2 -0.996282  1.270367 -0.924798 -0.390687 -1.068007

Rename specific labels of the main index of the DataFrame
                 col1      col2      col3      col4      col5
sale  city
sale1 city1  0.504972 -0.460932 -0.346817 -0.511037 -0.311695
      C2     1.678241 -0.095903  1.377239 -0.435176  0.047277
S2    city1  0.050779  1.168001 -2.297502  0.544122  0.304260
      C2    -0.142055  1.127882 -0.437350  0.089209 -0.835783
sale3 city1  0.530937  1.004902 -1.013829 -0.657093 -0.603926
      C2     1.860970 -0.109545  0.255334 -0.519720 -0.025815
sale4 city1  1.855853  0.654788 -0.686488  1.181600 -1.076847
      C2    -0.996282  1.270367 -0.924798 -0.390687 -1.068007