In [1]:
import pandas as pd
import numpy as np
np.random.seed(24)

In [2]:
#Q6
df = pd.DataFrame({'A': np.linspace(1,10,10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))], axis=1)

df.iloc[0, 2] = np.nan
df.iloc[3, 3] = np.nan
df.iloc[4, 1] = np.nan
df.iloc[9, 4] = np.nan
print("Original array:")
print(df)
print("\nBackground:black - fontcolor:yelow")
df.style.set_properties(**{'background-color': 'black',
                           'color': 'yellow'})

Original array:
      A         B         C         D         E
0   1.0  1.329212       NaN -0.316280 -0.990810
1   2.0 -1.070816 -1.438713  0.564417  0.295722
2   3.0 -1.626404  0.219565  0.678805  1.889273
3   4.0  0.961538  0.104011       NaN  0.850229
4   5.0       NaN  1.057737  0.165562  0.515018
5   6.0 -1.336936  0.562861  1.392855 -0.063328
6   7.0  0.121668  1.207603 -0.002040  1.627796
7   8.0  0.354493  1.037528 -0.385684  0.519818
8   9.0  1.686583 -1.325963  1.428984 -2.089354
9  10.0 -0.129820  0.631523 -0.586538       NaN

Background:black - fontcolor:yelow

In [3]:
#Q7
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)
df.iloc[0, 2] = np.nan
df.iloc[3, 3] = np.nan
df.iloc[4, 1] = np.nan
df.iloc[9, 4] = np.nan
print("Original array:")
print(df)
def highlight_cols(s):
    color = 'grey'
    return 'background-color: %s' % color
print("\nHighlight specific columns:")
df.style.applymap(highlight_cols, subset=pd.IndexSlice[:, ['B', 'C']])

Original array:
      A         B         C         D         E
0   1.0  1.264103       NaN -1.970288  0.803906
1   2.0  1.030550  0.118098 -0.021853  0.046841
2   3.0 -1.628753 -0.392361  1.700973  1.061330
3   4.0  0.695804 -0.435989       NaN  0.602135
4   5.0       NaN  0.036767 -0.538963  0.499178
5   6.0 -0.711952 -0.237001  0.857119 -1.882352
6   7.0  0.420705 -1.069175 -2.576859 -1.224923
7   8.0 -1.156752  0.931304  0.984257  2.226159
8   9.0 -0.418504 -0.333778 -0.147427  1.561308
9  10.0  0.684710  0.029462 -0.852475       NaN

Highlight specific columns: