In [1]:
import pandas as pd

In [3]:
#Q16
result = pd.timedelta_range(0, periods=30, freq="1H20T")
print("For a frequency of 1 hours 20 minutes, here we have combined the hour (H) and minute (T):\n")
print(result)

For a frequency of 1 hours 20 minutes, here we have combined the hour (H) and minute (T):

TimedeltaIndex(['0 days 00:00:00', '0 days 01:20:00', '0 days 02:40:00',
                '0 days 04:00:00', '0 days 05:20:00', '0 days 06:40:00',
                '0 days 08:00:00', '0 days 09:20:00', '0 days 10:40:00',
                '0 days 12:00:00', '0 days 13:20:00', '0 days 14:40:00',
                '0 days 16:00:00', '0 days 17:20:00', '0 days 18:40:00',
                '0 days 20:00:00', '0 days 21:20:00', '0 days 22:40:00',
                '1 days 00:00:00', '1 days 01:20:00', '1 days 02:40:00',
                '1 days 04:00:00', '1 days 05:20:00', '1 days 06:40:00',
                '1 days 08:00:00', '1 days 09:20:00', '1 days 10:40:00',
                '1 days 12:00:00', '1 days 13:20:00', '1 days 14:40:00'],
               dtype='timedelta64[ns]', freq='80T')

In [4]:
#Q18
print("Timezone: Europe/Berlin:")
print("Using pytz:")
date_pytz = pd.Timestamp('2019-01-01', tz = 'Europe/Berlin')
print(date_pytz.tz)  
print("Using dateutil:")
date_util = pd.Timestamp('2019-01-01', tz = 'dateutil/Europe/Berlin')
print(date_util.tz)
print("\nUS/Pacific:")
print("Using pytz:")
date_pytz = pd.Timestamp('2019-01-01', tz = 'US/Pacific')
print(date_pytz.tz)  
print("Using dateutil:")
date_util = pd.Timestamp('2019-01-01', tz = 'dateutil/US/Pacific')
print(date_util.tz)

Timezone: Europe/Berlin:
Using pytz:
Europe/Berlin
Using dateutil:
tzfile('Europe/Berlin')

US/Pacific:
Using pytz:
US/Pacific
Using dateutil:
tzfile('US/Pacific')

In [5]:
#Q19
date1 = pd.Timestamp('2019-01-01', tz='Europe/Berlin')
date2 = pd.Timestamp('2019-01-01', tz='US/Pacific')
date3 = pd.Timestamp('2019-01-01', tz='US/Eastern')
print("Time series data with time zone:")
print(date1)
print(date2)
print(date3)
print("\nTime series data without time zone:")
print(date1.tz_localize(None))
print(date2.tz_localize(None))
print(date3.tz_localize(None))

Time series data with time zone:
2019-01-01 00:00:00+01:00
2019-01-01 00:00:00-08:00
2019-01-01 00:00:00-05:00

Time series data without time zone:
2019-01-01 00:00:00
2019-01-01 00:00:00
2019-01-01 00:00:00

In [6]:
#Q20
print("Subtract two timestamps of same time zone:")
date1 = pd.Timestamp('2019-03-01 12:00', tz='US/Eastern')
date2 = pd.Timestamp('2019-04-01 07:00', tz='US/Eastern')
print("Difference: ", (date2-date1))
print("\nSubtract two timestamps of different time zone:")
date1 = pd.Timestamp('2019-03-01 12:00', tz='US/Eastern')
date2 = pd.Timestamp('2019-03-01 07:00', tz='US/Pacific')
# Remove the time zone and do the subtraction
print("Difference: ", (date1.tz_localize(None) - date2.tz_localize(None)))

Subtract two timestamps of same time zone:
Difference:  30 days 18:00:00

Subtract two timestamps of different time zone:
Difference:  0 days 05:00:00

In [11]:
#Q21
thursdays  = pd.date_range('2024-01-01', 
                           '2024-12-31', freq="W-THU")
print("All Thursdays between 2024-01-01 and 2024-12-31:\n")
print(thursdays.values)

All Thursdays between 2024-01-01 and 2024-12-31:

['2024-01-04T00:00:00.000000000' '2024-01-11T00:00:00.000000000'
 '2024-01-18T00:00:00.000000000' '2024-01-25T00:00:00.000000000'
 '2024-02-01T00:00:00.000000000' '2024-02-08T00:00:00.000000000'
 '2024-02-15T00:00:00.000000000' '2024-02-22T00:00:00.000000000'
 '2024-02-29T00:00:00.000000000' '2024-03-07T00:00:00.000000000'
 '2024-03-14T00:00:00.000000000' '2024-03-21T00:00:00.000000000'
 '2024-03-28T00:00:00.000000000' '2024-04-04T00:00:00.000000000'
 '2024-04-11T00:00:00.000000000' '2024-04-18T00:00:00.000000000'
 '2024-04-25T00:00:00.000000000' '2024-05-02T00:00:00.000000000'
 '2024-05-09T00:00:00.000000000' '2024-05-16T00:00:00.000000000'
 '2024-05-23T00:00:00.000000000' '2024-05-30T00:00:00.000000000'
 '2024-06-06T00:00:00.000000000' '2024-06-13T00:00:00.000000000'
 '2024-06-20T00:00:00.000000000' '2024-06-27T00:00:00.000000000'
 '2024-07-04T00:00:00.000000000' '2024-07-11T00:00:00.000000000'
 '2024-07-18T00:00:00.000000000' '2024-07-25T00:00:00.000000000'
 '2024-08-01T00:00:00.000000000' '2024-08-08T00:00:00.000000000'
 '2024-08-15T00:00:00.000000000' '2024-08-22T00:00:00.000000000'
 '2024-08-29T00:00:00.000000000' '2024-09-05T00:00:00.000000000'
 '2024-09-12T00:00:00.000000000' '2024-09-19T00:00:00.000000000'
 '2024-09-26T00:00:00.000000000' '2024-10-03T00:00:00.000000000'
 '2024-10-10T00:00:00.000000000' '2024-10-17T00:00:00.000000000'
 '2024-10-24T00:00:00.000000000' '2024-10-31T00:00:00.000000000'
 '2024-11-07T00:00:00.000000000' '2024-11-14T00:00:00.000000000'
 '2024-11-21T00:00:00.000000000' '2024-11-28T00:00:00.000000000'
 '2024-12-05T00:00:00.000000000' '2024-12-12T00:00:00.000000000'
 '2024-12-19T00:00:00.000000000' '2024-12-26T00:00:00.000000000']

In [12]:
#Q22
q_start_dates = pd.date_range('2024-01-01', '2024-12-31', freq='BQS-JUN')
q_end_dates = pd.date_range('2024-01-01', '2024-12-31', freq='BQ-JUN')
print("All the business quarterly begin dates of 2024:")
print(q_start_dates.values)
print("/nAll the business quarterly end dates of 2024:")
print(q_end_dates.values)

All the business quarterly begin dates of 2024:
['2024-03-01T00:00:00.000000000' '2024-06-03T00:00:00.000000000'
 '2024-09-02T00:00:00.000000000' '2024-12-02T00:00:00.000000000']
/nAll the business quarterly end dates of 2024:
['2024-03-29T00:00:00.000000000' '2024-06-28T00:00:00.000000000'
 '2024-09-30T00:00:00.000000000' '2024-12-31T00:00:00.000000000']

In [13]:
#Q23
print("Sequences of fixed-frequency dates and time spans (1 H):\n")
r1 = pd.date_range('2030-01-01', periods=10, freq='H')
print(r1)
print("\nSequences of fixed-frequency dates and time spans (3 H): \n")
r2 = pd.date_range('2030-01-01', periods=10, freq='3H')
print(r2)

Sequences of fixed-frequency dates and time spans (1 H):

DatetimeIndex(['2030-01-01 00:00:00', '2030-01-01 01:00:00',
               '2030-01-01 02:00:00', '2030-01-01 03:00:00',
               '2030-01-01 04:00:00', '2030-01-01 05:00:00',
               '2030-01-01 06:00:00', '2030-01-01 07:00:00',
               '2030-01-01 08:00:00', '2030-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

Sequences of fixed-frequency dates and time spans (3 H):

DatetimeIndex(['2030-01-01 00:00:00', '2030-01-01 03:00:00',
               '2030-01-01 06:00:00', '2030-01-01 09:00:00',
               '2030-01-01 12:00:00', '2030-01-01 15:00:00',
               '2030-01-01 18:00:00', '2030-01-01 21:00:00',
               '2030-01-02 00:00:00', '2030-01-02 03:00:00'],
              dtype='datetime64[ns]', freq='3H')

In [14]:
#Q24
dateset1 = pd.date_range('2029-01-01 00:00:00', periods=20, freq='3h10min')
print("Time series with frequency 3h10min:")
print(dateset1)
dateset2 = pd.date_range('2029-01-01 00:00:00', periods=20, freq='1D10min20U')
print("\nTime series with frequency 1 day 10 minutes and 20 microseconds:")
print(dateset2)

Time series with frequency 3h10min:
DatetimeIndex(['2029-01-01 00:00:00', '2029-01-01 03:10:00',
               '2029-01-01 06:20:00', '2029-01-01 09:30:00',
               '2029-01-01 12:40:00', '2029-01-01 15:50:00',
               '2029-01-01 19:00:00', '2029-01-01 22:10:00',
               '2029-01-02 01:20:00', '2029-01-02 04:30:00',
               '2029-01-02 07:40:00', '2029-01-02 10:50:00',
               '2029-01-02 14:00:00', '2029-01-02 17:10:00',
               '2029-01-02 20:20:00', '2029-01-02 23:30:00',
               '2029-01-03 02:40:00', '2029-01-03 05:50:00',
               '2029-01-03 09:00:00', '2029-01-03 12:10:00'],
              dtype='datetime64[ns]', freq='190T')

Time series with frequency 1 day 10 minutes and 20 microseconds:
DatetimeIndex([       '2029-01-01 00:00:00', '2029-01-02 00:10:00.000020',
               '2029-01-03 00:20:00.000040', '2029-01-04 00:30:00.000060',
               '2029-01-05 00:40:00.000080', '2029-01-06 00:50:00.000100',
               '2029-01-07 01:00:00.000120', '2029-01-08 01:10:00.000140',
               '2029-01-09 01:20:00.000160', '2029-01-10 01:30:00.000180',
               '2029-01-11 01:40:00.000200', '2029-01-12 01:50:00.000220',
               '2029-01-13 02:00:00.000240', '2029-01-14 02:10:00.000260',
               '2029-01-15 02:20:00.000280', '2029-01-16 02:30:00.000300',
               '2029-01-17 02:40:00.000320', '2029-01-18 02:50:00.000340',
               '2029-01-19 03:00:00.000360', '2029-01-20 03:10:00.000380'],
              dtype='datetime64[ns]', freq='87000000020U')