In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'skfsalf', 'sdfslew', 'safsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})
print("Original DataFrame:")
print(df)
print("\nLength of sale_amount:")
df['sale_amount_length'] = df['sale_amount'].map(str).apply(len)
print(df)

Original DataFrame:
  company_code date_of_sale  sale_amount
0         Abcd   12/05/2002      12348.5
1         EFGF   16/02/1999     233331.2
2      skfsalf   25/09/1998         22.5
3      sdfslew   12/02/2022    2566552.0
4       safsdf   15/09/1997         23.0

Length of sale_amount:
  company_code date_of_sale  sale_amount  sale_amount_length
0         Abcd   12/05/2002      12348.5                   7
1         EFGF   16/02/1999     233331.2                   8
2      skfsalf   25/09/1998         22.5                   4
3      sdfslew   12/02/2022    2566552.0                   9
4       safsdf   15/09/1997         23.0                   4

In [3]:
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})
print("Original DataFrame:")
print(df)
print("\nIf a specified column starts with a specified string?")
df['company_code_starts_with'] = list(
    map(lambda x: x.startswith('ze'), df['company_code']))
print(df)

Original DataFrame:
  company_code date_of_sale  sale_amount
0         Abcd   12/05/2002      12348.5
1         EFGF   16/02/1999     233331.2
2      zefsalf   25/09/1998         22.5
3      sdfslew   12/02/2022    2566552.0
4      zekfsdf   15/09/1997         23.0

If a specified column starts with a specified string?
  company_code date_of_sale  sale_amount  company_code_starts_with
0         Abcd   12/05/2002      12348.5                     False
1         EFGF   16/02/1999     233331.2                     False
2      zefsalf   25/09/1998         22.5                      True
3      sdfslew   12/02/2022    2566552.0                     False
4      zekfsdf   15/09/1997         23.0                      True

In [4]:
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})
print("Original DataFrame:")
print(df)
print("\nSwapp cases in comapny_code:")
df['swapped_company_code'] = list(map(lambda x: x.swapcase(), df['company_code']))
print(df)

Original DataFrame:
  company_code date_of_sale  sale_amount
0         Abcd   12/05/2002      12348.5
1         EFGF   16/02/1999     233331.2
2      zefsalf   25/09/1998         22.5
3      sdfslew   12/02/2022    2566552.0
4      zekfsdf   15/09/1997         23.0

Swapp cases in comapny_code:
  company_code date_of_sale  sale_amount swapped_company_code
0         Abcd   12/05/2002      12348.5                 aBCD
1         EFGF   16/02/1999     233331.2                 efgf
2      zefsalf   25/09/1998         22.5              ZEFSALF
3      sdfslew   12/02/2022    2566552.0              SDFSLEW
4      zekfsdf   15/09/1997         23.0              ZEKFSDF

In [5]:
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})

df1 = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})
print("Original DataFrame:")
print(df)
print("\nUpper cases in comapny_code:")
df['upper_company_code'] = list(map(lambda x: x.upper(), df['company_code']))
print(df)
print("\nLower cases in comapny_code:")
df1['lower_company_code'] = list(map(lambda x: x.lower(), df1['company_code']))
print(df1)

Original DataFrame:
  company_code date_of_sale  sale_amount
0         Abcd   12/05/2002      12348.5
1         EFGF   16/02/1999     233331.2
2      zefsalf   25/09/1998         22.5
3      sdfslew   12/02/2022    2566552.0
4      zekfsdf   15/09/1997         23.0

Upper cases in comapny_code:
  company_code date_of_sale  sale_amount upper_company_code
0         Abcd   12/05/2002      12348.5               ABCD
1         EFGF   16/02/1999     233331.2               EFGF
2      zefsalf   25/09/1998         22.5            ZEFSALF
3      sdfslew   12/02/2022    2566552.0            SDFSLEW
4      zekfsdf   15/09/1997         23.0            ZEKFSDF

Lower cases in comapny_code:
  company_code date_of_sale  sale_amount lower_company_code
0         Abcd   12/05/2002      12348.5               abcd
1         EFGF   16/02/1999     233331.2               efgf
2      zefsalf   25/09/1998         22.5            zefsalf
3      sdfslew   12/02/2022    2566552.0            sdfslew
4      zekfsdf   15/09/1997         23.0            zekfsdf

In [6]:
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})

print("Original DataFrame:")
print(df)

print("\nTitle cases:")
df['company_code_title_cases'] = list(map(lambda x: x.title(), df['company_code']))
print(df)

Original DataFrame:
  company_code date_of_sale  sale_amount
0         Abcd   12/05/2002      12348.5
1         EFGF   16/02/1999     233331.2
2      zefsalf   25/09/1998         22.5
3      sdfslew   12/02/2022    2566552.0
4      zekfsdf   15/09/1997         23.0

Title cases:
  company_code date_of_sale  sale_amount company_code_title_cases
0         Abcd   12/05/2002      12348.5                     Abcd
1         EFGF   16/02/1999     233331.2                     Efgf
2      zefsalf   25/09/1998         22.5                  Zefsalf
3      sdfslew   12/02/2022    2566552.0                  Sdfslew
4      zekfsdf   15/09/1997         23.0                  Zekfsdf