In [1]:
import pandas as pd

In [2]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
s

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [3]:
s.sort_values()

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [4]:
new_s = pd.concat([s, pd.Series([500, "php"])], ignore_index = True)
new_s

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

In [5]:
s = pd.Series([0,1,2,3,4,5,6,7,8,9,10])
s

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [6]:
n = 6

In [7]:
new_s = s[s < n]
new_s

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [8]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)
s = s.reindex(index = ['B','A','C','D','E'])
print("Data Series after changing the order of index:")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

In [9]:
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64

In [10]:
s.mean()

4.818181818181818

In [11]:
s.std()

2.522624895547565

In [12]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:")
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)
print("\nItems of sr1 not present in sr2:")
result = sr1[~sr1.isin(sr2)]
result

Original Series:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of sr1 not present in sr2:

0    1
2    3
4    5
dtype: int64

In [13]:
import numpy as np

In [14]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:")
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)
print("\nItems of a given series not present in another given series:")
sr11 = pd.Series(np.union1d(sr1, sr2))
sr22 = pd.Series(np.intersect1d(sr1, sr2))
result = sr11[~sr11.isin(sr22)]
print(result)

Original Series:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of a given series not present in another given series:
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [15]:
num_state = np.random.RandomState(100)
num_series = pd.Series(num_state.normal(10, 4, 20))
print("Original Series:")
print(num_series)
result = np.percentile(num_series, q=[0, 25, 50, 75, 100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

In [16]:
num_series = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))
print("Original Series:")
print(num_series)
print("Frequency of each unique value of the said series.")
result = num_series.value_counts()
print(result)

Original Series:
0     5
1     2
2     2
3     6
4     9
5     6
6     8
7     9
8     0
9     3
10    3
11    0
12    8
13    4
14    9
15    7
16    9
17    3
18    0
19    8
20    1
21    3
22    1
23    5
24    4
25    6
26    2
27    6
28    7
29    8
30    7
31    6
32    5
33    4
34    2
35    3
36    0
37    2
38    6
39    5
dtype: object
Frequency of each unique value of the said series.
6    6
2    5
3    5
5    4
9    4
8    4
0    4
4    3
7    3
1    2
dtype: int64

In [17]:
num_series = pd.Series(np.random.randint(1, 5, [15]))
print("Original Series:")
print(num_series)
print("Top 2 Freq:", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
print(num_series)

Original Series:
0     1
1     2
2     1
3     1
4     1
5     2
6     1
7     1
8     3
9     1
10    2
11    2
12    3
13    4
14    1
dtype: int32
Top 2 Freq: 1    8
2    4
3    2
4    1
dtype: int64
0         1
1     Other
2         1
3         1
4         1
5     Other
6         1
7         1
8     Other
9         1
10    Other
11    Other
12    Other
13    Other
14        1
dtype: object