In [1]:
import pandas as pd

In [2]:
ds = pd.Series([2, 4, 6, 8, 10])
ds

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [3]:
type(ds)

pandas.core.series.Series

In [5]:
display(ds.tolist())
type(ds.tolist())

[2, 4, 6, 8, 10]

list

In [6]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])

ds = ds1 + ds2
ds

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [7]:
ds = ds1 - ds2
ds

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [8]:
ds = ds1 * ds2
ds

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [9]:
ds = ds1 / ds2
ds

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [10]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])

In [11]:
ds1 == ds2 # equal to

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [12]:
ds1 > ds2 # greater than

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [13]:
ds1 < ds2 # less than

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [14]:
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
d1

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [15]:
new_series = pd.Series(d1)
new_series

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [16]:
import numpy as np

In [17]:
np_array = np.array([10, 20, 30, 40, 50])
np_array

array([10, 20, 30, 40, 50])

In [18]:
new_series = pd.Series(np_array)
new_series

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [19]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
s1

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [20]:
s2 = pd.to_numeric(s1, errors='coerce')
s2

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [21]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)
df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [22]:
s1 = df.iloc[:, 0]
s1

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [23]:
s2 = df['col1']
s2

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [24]:
type(df)

pandas.core.frame.DataFrame

In [25]:
type(s1)

pandas.core.series.Series

In [26]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)
print("Series to an array")
a = s1.values
print(a)
print(type(a))

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']
<class 'numpy.ndarray'>

In [31]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print("Original Series of list")
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print("One Series")
print(s)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object