In [1]:
import pandas as pd

In [2]:
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value1': [1, 2, 3, 4, 5, 6],
        'Value2': [10, 20, 30, 40, 50, 60]}
df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
# Group by 'Category' and apply different aggregations
print("\nGroup by 'Category' and apply different aggregations:")
grouped = df.groupby('Category').agg({'Value1': 'sum', 'Value2': 'mean'})
print(grouped)

Sample DataFrame:
  Category  Value1  Value2
0        A       1      10
1        A       2      20
2        B       3      30
3        B       4      40
4        C       5      50
5        C       6      60

Group by 'Category' and apply different aggregations:
          Value1  Value2
Category
A              3    15.0
B              7    35.0
C             11    55.0

In [3]:
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [5, 15, 25, 35, 45, 55]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)

# Group by 'Category' and apply lambda function
print("\nGroup by 'Category' and apply lambda function:")
grouped = df.groupby('Category').agg(lambda x: x.max() - x.min())
print(grouped)

Sample DataFrame:
  Category  Value
0        A      5
1        A     15
2        B     25
3        B     35
4        C     45
5        C     55

Group by 'Category' and apply lambda function:
          Value
Category
A            10
B            10
C            10

In [4]:
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Type': ['X', 'Y', 'X', 'Y', 'X', 'Y'],
        'Value': [1, 2, 3, 4, 5, 6]}
df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
# Group by 'Category' and 'Type'
print("\nGroup by 'Category' and 'Type':")
grouped = df.groupby(['Category', 'Type']).sum()
print(grouped)

Sample DataFrame:
  Category Type  Value
0        A    X      1
1        A    Y      2
2        B    X      3
3        B    Y      4
4        C    X      5
5        C    Y      6

Group by 'Category' and 'Type':
               Value
Category Type
A        X         1
         Y         2
B        X         3
         Y         4
C        X         5
         Y         6

In [5]:
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value1': [10, 20, 30, 40, 50, 60],
        'Value2': [100, 200, 300, 400, 500, 600]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
# Group by 'Category' and apply different functions
print("\nGroup by 'Category' and apply different functions:")
grouped = df.groupby('Category').agg({'Value1': 'mean', 'Value2': 'sum'})
print(grouped)

Sample DataFrame:
  Category  Value1  Value2
0        A      10     100
1        A      20     200
2        B      30     300
3        B      40     400
4        C      50     500
5        C      60     600

Group by 'Category' and apply different functions:
          Value1  Value2
Category
A           15.0     300
B           35.0     700
C           55.0    1100

In [6]:
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value1': [5, 10, 15, 20, 25, 30],
        'Value2': [50, 100, 150, 200, 250, 300]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)

# Group by 'Category' and apply named aggregations
print("\nGroup by 'Category' and apply named aggregations:")
grouped = df.groupby('Category').agg(
    Value1_mean=('Value1', 'mean'),
    Value2_sum=('Value2', 'sum')
)

print(grouped)

Sample DataFrame:
  Category  Value1  Value2
0        A       5      50
1        A      10     100
2        B      15     150
3        B      20     200
4        C      25     250
5        C      30     300

Group by 'Category' and apply named aggregations:
          Value1_mean  Value2_sum
Category
A                 7.5         150
B                17.5         350
C                27.5         550