In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'company_code': ['A','B', 'C', 'D', 'A'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})

print("Original DataFrame:")
print(df)

print("\nReplace A with c:")
df = df.replace("A", "C")
print(df)

Original DataFrame:
  company_code date_of_sale  sale_amount
0            A   12/05/2002      12348.5
1            B   16/02/1999     233331.2
2            C   25/09/1998         22.5
3            D   12/02/2022    2566552.0
4            A   15/09/1997         23.0

Replace A with c:
  company_code date_of_sale  sale_amount
0            C   12/05/2002      12348.5
1            B   16/02/1999     233331.2
2            C   25/09/1998         22.5
3            D   12/02/2022    2566552.0
4            C   15/09/1997         23.0

In [3]:
df = pd.DataFrame({
    'company_code': ['A','B', 'C', 'D', 'A'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})

print("Original DataFrame:")
print(df)

print("\nReplace A with c:")
df = df.replace(["A", "D"], ["X", "Y"])
print(df)

Original DataFrame:
  company_code date_of_sale  sale_amount
0            A   12/05/2002      12348.5
1            B   16/02/1999     233331.2
2            C   25/09/1998         22.5
3            D   12/02/2022    2566552.0
4            A   15/09/1997         23.0

Replace A with c:
  company_code date_of_sale  sale_amount
0            X   12/05/2002      12348.5
1            B   16/02/1999     233331.2
2            C   25/09/1998         22.5
3            Y   12/02/2022    2566552.0
4            X   15/09/1997         23.0

In [4]:
df = pd.DataFrame({
    'name': ['Alberto  Franco','Gino Ann Mcneill','Ryan  Parkes', 'Eesha Artur Hinton', 'Syed  Wharton'],
    'date_of_birth ': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print("Original DataFrame:")
print(df)
df[["first", "middle", "last"]] = df["name"].str.split(" ", expand = True)
print("\nNew DataFrame:")
print(df)

Original DataFrame:
                 name date_of_birth    age
0     Alberto  Franco     17/05/2002  18.5
1    Gino Ann Mcneill     16/02/1999  21.2
2        Ryan  Parkes     25/09/1998  22.5
3  Eesha Artur Hinton     11/05/2002  22.0
4       Syed  Wharton     15/09/1997  23.0

New DataFrame:
                 name date_of_birth    age    first middle     last
0     Alberto  Franco     17/05/2002  18.5  Alberto          Franco
1    Gino Ann Mcneill     16/02/1999  21.2     Gino    Ann  Mcneill
2        Ryan  Parkes     25/09/1998  22.5     Ryan          Parkes
3  Eesha Artur Hinton     11/05/2002  22.0    Eesha  Artur   Hinton
4       Syed  Wharton     15/09/1997  23.0     Syed         Wharton

In [5]:
import re as re

In [6]:
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({
    'name_email': ['Alberto Franco af@gmail.com','Gino Mcneill gm@yahoo.com','Ryan Parkes rp@abc.io', 'Eesha Hinton', 'Gino Mcneill gm@github.com']
    })
print("Original DataFrame:")
print(df)
def find_email(text):
    email = re.findall(r'[\w\.-]+@[\w\.-]+',str(text))
    return ",".join(email)
df['email']=df['name_email'].apply(lambda x: find_email(x))
print("\Extracting email from dataframe columns:")
print(df)

Original DataFrame:
                    name_email
0  Alberto Franco af@gmail.com
1    Gino Mcneill gm@yahoo.com
2        Ryan Parkes rp@abc.io
3                 Eesha Hinton
4   Gino Mcneill gm@github.com
\Extracting email from dataframe columns:
                    name_email          email
0  Alberto Franco af@gmail.com   af@gmail.com
1    Gino Mcneill gm@yahoo.com   gm@yahoo.com
2        Ryan Parkes rp@abc.io      rp@abc.io
3                 Eesha Hinton
4   Gino Mcneill gm@github.com  gm@github.com

In [7]:
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({
    'tweets': ['#Obama says goodbye','Retweets for #cash','A political endorsement in #Indonesia', '1 dog = many #retweets', 'Just a simple #egg']
    })
print("Original DataFrame:")
print(df)
def find_hash(text):
    hword=re.findall(r'(?<=#)\w+',text)
    return " ".join(hword)
df['hash_word']=df['tweets'].apply(lambda x: find_hash(x))
print("\Extracting#@word from dataframe columns:")
print(df)

Original DataFrame:
                                  tweets
0                    #Obama says goodbye
1                     Retweets for #cash
2  A political endorsement in #Indonesia
3                 1 dog = many #retweets
4                     Just a simple #egg
\Extracting#@word from dataframe columns:
                                  tweets  hash_word
0                    #Obama says goodbye      Obama
1                     Retweets for #cash       cash
2  A political endorsement in #Indonesia  Indonesia
3                 1 dog = many #retweets   retweets
4                     Just a simple #egg        egg