In [1]:
import pandas as pd

In [3]:
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
diamonds.loc[diamonds.cut=='Premium', 'color']

1        E
3        I
12       F
14       E
15       E
        ..
53928    E
53930    E
53931    F
53934    D
53938    H
Name: color, Length: 13791, dtype: object

In [5]:
diamonds.iloc[[0,1], [0,3]]

   carat clarity
0   0.23     SI2
1   0.21     SI1

In [6]:
diamonds.iloc[0:4, 1:4]

       cut color clarity
0    Ideal     E     SI2
1  Premium     E     SI1
2     Good     E     VS1
3  Premium     I     VS2

In [7]:
diamonds.iloc[0:3, :]

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31

In [9]:
diamonds.iloc[2:5, 0:2]

   carat      cut
2   0.23     Good
3   0.29  Premium
4   0.31     Good

In [10]:
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [11]:
diamonds.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 12.2 MB

In [12]:
diamonds.memory_usage(deep=True)

Index          128
carat       431520
cut        3413674
color      3128520
clarity    3242590
depth       431520
table       431520
price       431520
x           431520
y           431520
z           431520
dtype: int64

In [13]:
#Q62
diamonds.sample(n=3)

       carat      cut color clarity  depth  table  price     x     y     z
39164   0.45     Good     E     SI1   63.9   57.0   1063  4.86  4.81  3.09
38828   0.43    Ideal     E     VS2   61.9   56.0   1048  4.88  4.85  3.01
22937   1.54  Premium     H     VS2   61.0   60.0  10977  7.42  7.46  4.54