In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'A': [1, 6, 8, 3, 7],
    'B': [5, 2, 9, 4, 1]
})

In [3]:
df

   A  B
0  1  5
1  6  2
2  8  9
3  3  4
4  7  1

In [5]:
df[df['A'] > 4]

   A  B
1  6  2
2  8  9
4  7  1

In [6]:
# Create a DataFrame
df = pd.DataFrame({
    'X': [1, 6, 8, 3, 7],
    'Y': [5, 2, 9, 4, 1],
    'Z': [3, 8, 6, 2, 9]
})

# Select 'X' and 'Y' columns
result = df[['X', 'Y']]
print(result)

   X  Y
0  1  5
1  6  2
2  8  9
3  3  4
4  7  1

In [7]:
# Create a DataFrame
df = pd.DataFrame({
    'X': [1, 6, 8, 3, 7],
    'Y': [5, 2, 9, 4, 1],
    'Z': ['one', 'one', 'two', 'two', 'one']
})

# Set MultiIndex
df = df.set_index(['Z', 'X'])

# Access data using MultiIndex
result = df.loc[('one', 6)]
print(result)

Y    2
Name: (one, 6), dtype: int64

In [8]:
# Create a DataFrame
df = pd.DataFrame({
    'A': [1, 6, 8, 3, 7],
    'B': [5, 2, 9, 4, 1],
    'C': ['one', 'one', 'two', 'two', 'one']
})

# Set MultiIndex
df = df.set_index(['C', 'A'])

# Slice DataFrame
result = df.loc['one']
print(result)

   B
A
1  5
6  2
7  1

In [9]:
# Create a DataFrame
df = pd.DataFrame({
    'X': [1, 6, 8, 3, 7],
    'Y': [5, 2, 9, 4, 1],
    'Z': ['one', 'one', 'two', 'two', 'one']
})

# Set MultiIndex
df = df.set_index(['Z', 'X'])

df

       Y
Z   X
one 1  5
    6  2
two 8  9
    3  4
one 7  1

In [10]:
# Swap the levels of the MultiIndex
df = df.swaplevel()
print(df)

       Y
X Z
1 one  5
6 one  2
8 two  9
3 two  4
7 one  1