In [1]:
import pandas as pd
import re as re

In [2]:
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({
    'tweets': ['@Obama says goodbye','Retweets for @cash','A political endorsement in @Indonesia', '1 dog = many #retweets', 'Just a simple #egg']
    })
print("Original DataFrame:")
print(df)
def find_at_word(text):
    word=re.findall(r'(?<=@)\w+',text)
    return " ".join(word)

df['at_word']=df['tweets'].apply(lambda x: find_at_word(x))
print("\Extracting @word from dataframe columns:")
print(df)

Original DataFrame:
                                  tweets
0                    @Obama says goodbye
1                     Retweets for @cash
2  A political endorsement in @Indonesia
3                 1 dog = many #retweets
4                     Just a simple #egg
\Extracting @word from dataframe columns:
                                  tweets    at_word
0                    @Obama says goodbye      Obama
1                     Retweets for @cash       cash
2  A political endorsement in @Indonesia  Indonesia
3                 1 dog = many #retweets
4                     Just a simple #egg

In [3]:
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({
    'company_code': ['c0001','c0002','c0003', 'c0003', 'c0004'],
    'address': ['7277 Surrey Ave.','920 N. Bishop Ave.','9910 Golden Star St.', '25 Dunbar St.', '17 West Livingston Court']
    })
print("Original DataFrame:")
print(df)
def find_number(text):
    num = re.findall(r'[0-9]+',text)
    return " ".join(num)
df['number']=df['address'].apply(lambda x: find_number(x))
print("\Extracting numbers from dataframe columns:")
print(df)

Original DataFrame:
  company_code                   address
0        c0001          7277 Surrey Ave.
1        c0002        920 N. Bishop Ave.
2        c0003      9910 Golden Star St.
3        c0003             25 Dunbar St.
4        c0004  17 West Livingston Court
\Extracting numbers from dataframe columns:
  company_code                   address number
0        c0001          7277 Surrey Ave.   7277
1        c0002        920 N. Bishop Ave.    920
2        c0003      9910 Golden Star St.   9910
3        c0003             25 Dunbar St.     25
4        c0004  17 West Livingston Court     17

In [4]:
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({
    'company_code': ['c0001','c0002','c0003', 'c0003', 'c0004'],
    'company_phone_no': ['Company1-Phone no. 4695168357','Company2-Phone no. 8088729013','Company3-Phone no. 6204658086', 'Company4-Phone no. 5159530096', 'Company5-Phone no. 9037952371']
    })
print("Original DataFrame:")
print(df)
def find_phone_number(text):
    ph_no = re.findall(r"\b\d{10}\b",text)
    return "".join(ph_no)
df['number']=df['company_phone_no'].apply(lambda x: find_phone_number(x))
print("\Extracting numbers from dataframe columns:")
print(df)

Original DataFrame:
  company_code               company_phone_no
0        c0001  Company1-Phone no. 4695168357
1        c0002  Company2-Phone no. 8088729013
2        c0003  Company3-Phone no. 6204658086
3        c0003  Company4-Phone no. 5159530096
4        c0004  Company5-Phone no. 9037952371
\Extracting numbers from dataframe columns:
  company_code               company_phone_no      number
0        c0001  Company1-Phone no. 4695168357  4695168357
1        c0002  Company2-Phone no. 8088729013  8088729013
2        c0003  Company3-Phone no. 6204658086  6204658086
3        c0003  Company4-Phone no. 5159530096  5159530096
4        c0004  Company5-Phone no. 9037952371  9037952371

In [5]:
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({
    'company_code': ['c0001','c0002','c0003', 'c0003', 'c0004'],
    'year': ['year 1800','year 1700','year 2300', 'year 1900', 'year 2200']
    })
print("Original DataFrame:")
print(df)
def find_year(text):
    #line=re.findall(r"\b(18[0][0]|2[0-2][00])\b",text)
    result = re.findall(r"\b(18[0-9]{2}|19[0-8][0-9]|199[0-9]|2[01][0-9]{2}|2200)\b",text)
    return result
df['year_range']=df['year'].apply(lambda x: find_year(x))
print("\Extracting year between 1800 to 2200:")
print(df)

Original DataFrame:
  company_code       year
0        c0001  year 1800
1        c0002  year 1700
2        c0003  year 2300
3        c0003  year 1900
4        c0004  year 2200
\Extracting year between 1800 to 2200:
  company_code       year year_range
0        c0001  year 1800     [1800]
1        c0002  year 1700         []
2        c0003  year 2300         []
3        c0003  year 1900     [1900]
4        c0004  year 2200     [2200]

In [6]:
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({
    'company_code': ['c0001#','c00@0^2','$c0003', 'c0003', '&c0004'],
    'year': ['year 1800','year 1700','year 2300', 'year 1900', 'year 2200']
    })
print("Original DataFrame:")
print(df)
def find_nonalpha(text):
    result = re.findall("[^A-Za-z0-9 ]",text)
    return result
df['nonalpha']=df['company_code'].apply(lambda x: find_nonalpha(x))
print("\Extracting only non alphanumeric characters from company_code:")
print(df)

Original DataFrame:
  company_code       year
0       c0001#  year 1800
1      c00@0^2  year 1700
2       $c0003  year 2300
3        c0003  year 1900
4       &c0004  year 2200
\Extracting only non alphanumeric characters from company_code:
  company_code       year nonalpha
0       c0001#  year 1800      [#]
1      c00@0^2  year 1700   [@, ^]
2       $c0003  year 2300      [$]
3        c0003  year 1900       []
4       &c0004  year 2200      [&]