In [1]:
import pandas as pd

In [2]:
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [1, 2, 3, 4, 5, 6]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
# Group by 'Category' and transform by calculating the mean
print("\nGroup by 'Category' and transform by calculating the mean:")
transformed = df.groupby('Category').transform('mean')
print(transformed)

Sample DataFrame:
  Category  Value
0        A      1
1        A      2
2        B      3
3        B      4
4        C      5
5        C      6

Group by 'Category' and transform by calculating the mean:
   Value
0    1.5
1    1.5
2    3.5
3    3.5
4    5.5
5    5.5

In [3]:
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value1': [1, 2, 3, 4, 5, 6],
        'Value2': [10, 20, 30, 40, 50, 60]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)

# Group by 'Category' and apply different functions using a dictionary
print("\nGroup by 'Category' and apply different functions using a dictionary:")
grouped = df.groupby('Category').agg({'Value1': 'sum', 'Value2': 'mean'})

print(grouped)

Sample DataFrame:
  Category  Value1  Value2
0        A       1      10
1        A       2      20
2        B       3      30
3        B       4      40
4        C       5      50
5        C       6      60

Group by 'Category' and apply different functions using a dictionary:
          Value1  Value2
Category
A              3    15.0
B              7    35.0
C             11    55.0

In [4]:
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [10, 20, 30, 40, 50, 60]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
# Group by 'Category' and calculate the sum
print("\nGroup by 'Category' and calculate the sum:")
df['SumValue'] = df.groupby('Category')['Value'].transform('sum')

print(df)

Sample DataFrame:
  Category  Value
0        A     10
1        A     20
2        B     30
3        B     40
4        C     50
5        C     60

Group by 'Category' and calculate the sum:
  Category  Value  SumValue
0        A     10        30
1        A     20        30
2        B     30        70
3        B     40        70
4        C     50       110
5        C     60       110

In [5]:
# Sample DataFrame with missing values
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [10, None, 30, 40, None, 60]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
      
# Fill missing values with 0 and then group by 'Category' and sum
print("\nFill missing values with 0 and then group by 'Category' and sum:")
grouped = df.fillna(0).groupby('Category').sum()

print(grouped)

Sample DataFrame:
  Category  Value
0        A   10.0
1        A    NaN
2        B   30.0
3        B   40.0
4        C    NaN
5        C   60.0

Fill missing values with 0 and then group by 'Category' and sum:
          Value
Category
A          10.0
B          70.0
C          60.0

In [6]:
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value1': [5, 10, 15, 20, 25, 30],
        'Value2': [50, 100, 150, 200, 250, 300]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
      
# Group by 'Category' and apply multiple named aggregations
print("\nGroup by 'Category' and apply multiple named aggregations:")
grouped = df.groupby('Category').agg(
    Total_Value1=('Value1', 'sum'),
    Average_Value2=('Value2', 'mean')
)

print(grouped)

Sample DataFrame:
  Category  Value1  Value2
0        A       5      50
1        A      10     100
2        B      15     150
3        B      20     200
4        C      25     250
5        C      30     300

Group by 'Category' and apply multiple named aggregations:
          Total_Value1  Average_Value2
Category
A                   15            75.0
B                   35           175.0
C                   55           275.0