In [1]:
import datetime
from datetime import datetime

In [11]:
import pandas as pd

In [20]:
import numpy as np

In [2]:
#Q1
datetime(2024,5,23)

datetime.datetime(2024, 5, 23, 0, 0)

In [10]:
print(datetime(2011, 1, 11, 21, 20))
print(datetime.now())
print(datetime.date(datetime(2024,5,20)))
print(datetime.now().date())
print(datetime.time(datetime(2022, 12, 15, 18, 12)))
print(datetime.now().time())

2011-01-11 21:20:00
2024-05-23 20:22:13.253440
2024-05-20
2024-05-23
18:12:00
20:22:13.254838

In [12]:
#Q2
print("\nA specific date using timestamp:")
print(pd.Timestamp('2016-11-10'))
print("\nDate and time using timestamp:")
print(pd.Timestamp('2012-05-03 11:30'))
print("\nA time adds in the current local date using timestamp:")
print(pd.Timestamp('11:30'))
print("\nCurrent date and time using timestamp:")
print(pd.Timestamp("now"))

A specific date using timestamp:
2016-11-10 00:00:00

Date and time using timestamp:
2012-05-03 11:30:00

A time adds in the current local date using timestamp:
2024-05-23 11:30:00

Current date and time using timestamp:
2024-05-23 20:23:54.574685

In [13]:
#Q3
date1 = datetime(year=2020, month=12, day=25)
print("Date from a given year, month, day:")
print(date1)

from dateutil import parser
date2 = parser.parse("1st of January, 2021")
print("\nDate from a given string formats:")
print(date2)

Date from a given year, month, day:
2020-12-25 00:00:00

Date from a given string formats:
2021-01-01 00:00:00

In [14]:
#Q4
today = datetime(2024,5,22)
print("Current date:", today)

Current date: 2024-05-22 00:00:00

In [15]:
tomorrow = today + pd.Timedelta(days=1)
print("Tomorrow:", tomorrow)

Tomorrow: 2024-05-23 00:00:00

In [16]:
yesterday = today - pd.Timedelta(days=1)
print("Yesterday:", yesterday)

Yesterday: 2024-05-21 00:00:00

In [19]:
date1 = datetime(2016, 8, 15)
date2 = datetime(2016, 7, 19)
print("\nDifference between two dates: ",(date1 - date2))

Difference between two dates:  27 days, 0:00:00

In [21]:
#q5
dates = [datetime(2011, 9, 1), datetime(2011, 9, 2)]
print("Time-series with two index labels:")
time_series = pd.Series(np.random.randn(2), dates)
print(time_series)
print("\nType of the index:")
print(type(time_series.index))

Time-series with two index labels:
2011-09-01    0.309505
2011-09-02    0.136560
dtype: float64

Type of the index:
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>