In [1]:
import pandas as pd

In [2]:
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Type': ['X', 'Y', 'X', 'Y', 'X', 'Y'],
        'Value': [1, 2, 3, 4, 5, 6]}
df = pd.DataFrame(data)
df

  Category Type  Value
0        A    X      1
1        A    Y      2
2        B    X      3
3        B    Y      4
4        C    X      5
5        C    Y      6

In [3]:
# Group by 'Category' and 'Type'
print("Group by 'Category' and 'Type':")

grouped = df.groupby(['Category', 'Type']).sum()
grouped

Group by 'Category' and 'Type':

               Value
Category Type
A        X         1
         Y         2
B        X         3
         Y         4
C        X         5
         Y         6

In [4]:
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [10, 20, 30, 40, 50, 60]}
df = pd.DataFrame(data)
df

  Category  Value
0        A     10
1        A     20
2        B     30
3        B     40
4        C     50
5        C     60

In [5]:
grouped = df.groupby('Category').agg(['sum', 'mean', 'max'])
grouped

         Value
           sum  mean max
Category
A           30  15.0  20
B           70  35.0  40
C          110  55.0  60

In [6]:
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [5, 15, 25, 35, 45, 55]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)

Sample DataFrame:
  Category  Value
0        A      5
1        A     15
2        B     25
3        B     35
4        C     45
5        C     55

In [7]:
# Define custom aggregration function
def custom_agg(x):
    return x.max() - x.min()

# Group by 'Category' and apply custom aggregation
print("\nGroup by 'Category' and apply custom aggregation:")
grouped = df.groupby('Category').agg(custom_agg)
grouped

Group by 'Category' and apply custom aggregation:

          Value
Category
A            10
B            10
C            10

In [8]:
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [1, 2, 3, 4, 5, 6]}
df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
# Group by 'Category'
grouped = df.groupby('Category')
# Filter groups where the sum of 'Value' > 5
print("\nFilter groups where the sum of 'Value' > 5")
filtered = grouped.filter(lambda x: x['Value'].sum() > 5)

print(filtered)

Sample DataFrame:
  Category  Value
0        A      1
1        A      2
2        B      3
3        B      4
4        C      5
5        C      6

Filter groups where the sum of 'Value' > 5
  Category  Value
2        B      3
3        B      4
4        C      5
5        C      6

In [9]:
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [10, 20, 30, 40, 50, 60]}
df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
# Define function to apply to each group
def scale_values(x):
    return x / x.max()
# Group by 'Category' and apply function
print("\nGroup by 'Category' and apply function:")
grouped = df.groupby('Category').transform(scale_values)
print(grouped)

Sample DataFrame:
  Category  Value
0        A     10
1        A     20
2        B     30
3        B     40
4        C     50
5        C     60

Group by 'Category' and apply function:
      Value
0  0.500000
1  1.000000
2  0.750000
3  1.000000
4  0.833333
5  1.000000